In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.max_columns',None)

In [3]:
us_comment = pd.read_csv('UScomments.csv',error_bad_lines=False)
us_comment

,video_id,comment_text,likes,replies,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,NaN,NaN,NaN
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,NaN,NaN,NaN
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,NaN,NaN,NaN
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,NaN,NaN,NaN
4,XpVt6Z1Gjjo,trending üòâ,3,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
691394,EoejGgUNmVU,–õ—É—á—à–∞—è,1,0,NaN,NaN,NaN
691395,EoejGgUNmVU,qu'est ce que j'aimerais que tu viennes √† Roan...,0,0,NaN,NaN,NaN
691396,EoejGgUNmVU,Ven a mexico! üòç te amo LP,0,0,NaN,NaN,NaN
691397,EoejGgUNmVU,Islƒ±ƒüƒ± yeter...,0,0,NaN,NaN,NaN
691398,EoejGgUNmVU,Kocham tƒÖ piosenkƒôüòç‚ù§‚ù§‚ù§by≈Çam zakochana po uszy ...,0,0,NaN,NaN,NaN

In [4]:
us_videos = pd.read_csv('USvideos.csv',error_bad_lines=False)

b'Skipping line 2401: expected 11 fields, saw 21\nSkipping line 2800: expected 11 fields, saw 21\nSkipping line 5297: expected 11 fields, saw 12\nSkipping line 5299: expected 11 fields, saw 12\nSkipping line 5300: expected 11 fields, saw 12\nSkipping line 5301: expected 11 fields, saw 12\n'

In [5]:
us_videos.head()

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,13.09
1,K4wEI5zhHB0,iPhone X ‚Äî Introducing iPhone X ‚Äî Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,13.09
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,13.09
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,13.09
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,13.09

## Analysis and Cleaning

In [6]:
us_videos.shape

(7992, 11)

In [7]:
us_videos.nunique()

video_id          2364
title             2398
channel_title     1230
category_id         16
tags              2204
views             7939
likes             6624
dislikes          2531
comment_total     4152
thumbnail_link    2364
date                40
dtype: int64

In [8]:
us_videos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7992 entries, 0 to 7991
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   video_id        7992 non-null   object
 1   title           7992 non-null   object
 2   channel_title   7992 non-null   object
 3   category_id     7992 non-null   int64
 4   tags            7992 non-null   object
 5   views           7992 non-null   int64
 6   likes           7992 non-null   int64
 7   dislikes        7992 non-null   int64
 8   comment_total   7992 non-null   int64
 9   thumbnail_link  7992 non-null   object
 10  date            7992 non-null   float64
dtypes: float64(1), int64(5), object(5)
memory usage: 686.9+ KB

In [9]:
us_videos.head()

,video_id,title,channel_title,category_id,tags,views,likes,dislikes,comment_total,thumbnail_link,date
0,XpVt6Z1Gjjo,1 YEAR OF VLOGGING -- HOW LOGAN PAUL CHANGED Y...,Logan Paul Vlogs,24,logan paul vlog|logan paul|logan|paul|olympics...,4394029,320053,5931,46245,https://i.ytimg.com/vi/XpVt6Z1Gjjo/default.jpg,13.09
1,K4wEI5zhHB0,iPhone X ‚Äî Introducing iPhone X ‚Äî Apple,Apple,28,Apple|iPhone 10|iPhone Ten|iPhone|Portrait Lig...,7860119,185853,26679,0,https://i.ytimg.com/vi/K4wEI5zhHB0/default.jpg,13.09
2,cLdxuaxaQwc,My Response,PewDiePie,22,[none],5845909,576597,39774,170708,https://i.ytimg.com/vi/cLdxuaxaQwc/default.jpg,13.09
3,WYYvHb03Eog,Apple iPhone X first look,The Verge,28,apple iphone x hands on|Apple iPhone X|iPhone ...,2642103,24975,4542,12829,https://i.ytimg.com/vi/WYYvHb03Eog/default.jpg,13.09
4,sjlHnJvXdQs,iPhone X (parody),jacksfilms,23,jacksfilms|parody|parodies|iphone|iphone x|iph...,1168130,96666,568,6666,https://i.ytimg.com/vi/sjlHnJvXdQs/default.jpg,13.09

In [10]:
us_comment.head()

,video_id,comment_text,likes,replies,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0,NaN,NaN,NaN
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0,NaN,NaN,NaN
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0,NaN,NaN,NaN
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0,NaN,NaN,NaN
4,XpVt6Z1Gjjo,trending üòâ,3,0,NaN,NaN,NaN

In [11]:
us_comment.shape

(691399, 7)

In [12]:
#Dropping unneccasary comments
us_comment.drop(us_comment.iloc[:, 4:12], inplace = True, axis = 1)

In [13]:
us_comment.shape

(691399, 4)

In [14]:
us_comment.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

In [15]:
us_comment.isnull().sum()

video_id         0
comment_text    25
likes            0
replies          0
dtype: int64

In [16]:
us_comment.dropna(inplace=True)

In [17]:
us_comment.isnull().sum()

video_id        0
comment_text    0
likes           0
replies         0
dtype: int64

In [18]:
us_comment.nunique()

video_id          2266
comment_text    434064
likes             1059
replies            368
dtype: int64

In [19]:
us_comment.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 691374 entries, 0 to 691398
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   video_id      691374 non-null  object
 1   comment_text  691374 non-null  object
 2   likes         691374 non-null  int64
 3   replies       691374 non-null  int64
dtypes: int64(2), object(2)
memory usage: 26.4+ MB

In [20]:
us_comment = us_comment.reset_index().drop('index',axis=1)

In [21]:
us_comment.likes = us_comment.likes.astype(int)
us_comment.replies = us_comment.replies.astype(int)

In [22]:
us_comment.head()

,video_id,comment_text,likes,replies
0,XpVt6Z1Gjjo,Logan Paul it's yo big day ‚ÄºÔ∏è‚ÄºÔ∏è‚ÄºÔ∏è,4,0
1,XpVt6Z1Gjjo,I've been following you from the start of your...,3,0
2,XpVt6Z1Gjjo,Say hi to Kong and maverick for me,3,0
3,XpVt6Z1Gjjo,MY FAN . attendance,3,0
4,XpVt6Z1Gjjo,trending üòâ,3,0

### Removing Punctuations,Numbers and Special Characters

In [23]:
us_comment['comment_text'] = us_comment['comment_text'].str.replace('[^a-zA-Z#]'," ")

### Removing Short Words

In [24]:
us_comment['comment_text']=us_comment['comment_text'].apply(lambda x: ' '.join([w for w in x.split() if len(w)>3]))
print(us_comment['comment_text'])

0                                                Logan Paul
1         been following from start your vine channel ha...
2                                             Kong maverick
3                                                attendance
4                                                  trending
                                ...
691369
691370                              aimerais viennes Roanne
691371                                               mexico
691372                                                yeter
691373    Kocham piosenk zakochana uszy moja colonna sonora
Name: comment_text, Length: 691374, dtype: object

### Changing the text to lower case

In [25]:
us_comment['comment_text']=us_comment['comment_text'].apply(lambda x:x.lower())

## Tokenization
In Python tokenization basically refers to splitting up a larger body of text into smaller lines, words or even creating words for a non-English language.

In [26]:
tokenized = us_comment['comment_text'].apply(lambda x:x.split())
tokenized.head()

0                                        [logan, paul]
1    [been, following, from, start, your, vine, cha...
2                                     [kong, maverick]
3                                         [attendance]
4                                           [trending]
Name: comment_text, dtype: object

## Lemmatization 
Lemmatization is the process of grouping together the different inflected forms of a word so they can be analyzed as a single item

In [31]:
import nltk
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\laksh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\laksh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [32]:
wnl = WordNetLemmatizer()

The stopwords in nltk are the most common words in data. They are words that you do not want to use to describe the topic of your content.

In [33]:
tokenized.apply(lambda x: [wnl.lemmatize(i) for i in x if i not in set(stopwords.words('english'))])
tokenized.head()

0                                        [logan, paul]
1    [been, following, from, start, your, vine, cha...
2                                     [kong, maverick]
3                                         [attendance]
4                                           [trending]
Name: comment_text, dtype: object

In [34]:
for i in range(len(tokenized)):
    tokenized[i] = ' '.join(tokenized[i])

In [36]:
us_comment['comment_text'] = tokenized

### Let's do the Sentiment Analysis on the us comment Dataset

In [37]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\laksh\AppData\Roaming\nltk_data...

True

In [38]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sia = SentimentIntensityAnalyzer()

### Setting The Sentiment Scores

In [39]:
us_comment['Sentiment Scores']=us_comment['comment_text'].apply(lambda x: sia.polarity_scores(x)['compound'])

In [40]:
us_comment.head()

,video_id,comment_text,likes,replies,Sentiment Scores
0,XpVt6Z1Gjjo,logan paul,4,0,0.0
1,XpVt6Z1Gjjo,been following from start your vine channel ha...,3,0,0.0
2,XpVt6Z1Gjjo,kong maverick,3,0,0.0
3,XpVt6Z1Gjjo,attendance,3,0,0.0
4,XpVt6Z1Gjjo,trending,3,0,0.0

### Classifying the Sentiment scores as Positive,Negative and Neutral

In [41]:
us_comment['Sentiment'] = us_comment['Sentiment Scores'].apply(lambda s: 'Positive' if s>0 else ('Neutral' if s==0 else 'Negative'))

In [42]:
us_comment.head()

,video_id,comment_text,likes,replies,Sentiment Scores,Sentiment
0,XpVt6Z1Gjjo,logan paul,4,0,0.0,Neutral
1,XpVt6Z1Gjjo,been following from start your vine channel ha...,3,0,0.0,Neutral
2,XpVt6Z1Gjjo,kong maverick,3,0,0.0,Neutral
3,XpVt6Z1Gjjo,attendance,3,0,0.0,Neutral
4,XpVt6Z1Gjjo,trending,3,0,0.0,Neutral

In [43]:
us_comment.Sentiment.value_counts()

Positive    305362
Neutral     260981
Negative    125031
Name: Sentiment, dtype: int64

### Now we will calculate the percentage of comments which are positive in all the videos.

In [48]:
video = []
for i in range(0,us_comment.video_id.nunique()):
    a = us_comment[(us_comment.video_id == us_comment.video_id.unique()[i]) & (us_comment.Sentiment == 'Positive')].count()[0]
    b = us_comment[us_comment.video_id == us_comment.video_id.unique()[i]]['Sentiment'].value_counts().sum()
    Percentage = (a/b)*100
    video.append(round(Percentage,2))

### Making a dataframe of the videos with their Positive Percentages.

In [49]:
Positivity = pd.DataFrame(video,us_comment.video_id.unique()).reset_index()

In [50]:
Positivity.columns = ['video_id','Positive Percentage']

In [51]:
Positivity.head()

      video_id  Positive Percentage
0  XpVt6Z1Gjjo                34.38
1  cLdxuaxaQwc                35.54
2  WYYvHb03Eog                37.25
3  sjlHnJvXdQs                37.62
4  cMKX2tE5Luk                41.57

### Now we will add the channel name of the videos which are their in our new dataset.

In [55]:
channels = []
for i in range(0,Positivity.video_id.nunique()):
    channels.append(us_videos[us_videos.video_id == Positivity.video_id.unique()[i]]['channel_title'].unique()[0])

IndexError: index 0 is out of bounds for axis 0 with size 0